.footer {
    bottom: 0;
    position: fixed;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
}

.footer button {
    width: 10%;
    height: 40%;
    font-size: 25px; 
}